<header>
  <h1>Lista de Leitura</h1>
  <p>
    Adicione seus livros favoritos à lista! Basta digitar o nome do livro e clicar em "Adicionar".
  </p>
</header>
<main>
  <div id="form-area">
    <input id="nome" type="text" placeholder="Nome do livro">
    <button id="addButton" type="submit">Adicionar</button>
  </div>
  <h3>Minhas leituras</h3>
  <ul>
    {{#each livros}}
      <li>
        {{nome}}
      </li>
    {{/each}}
  </ul>
</main>